@charset "UTF-8";



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-fundo: rgb(24, 11, 1);
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    position: fixed;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(39, 26, 1, 0.685);
    background-image: url(../media/backgroundimages/BG_claro.png);
}

main {
    text-align: center;
}

body {
    background-color: var(--cor-fundo);

}

p {
    padding: 10px;
}

section {
    height: 60vh;
}

.game-section {
    height: 40vh;
}

.kingrush-div {
    background-image: url(../media/jogos/KR/concept/3.png);
    background-size: cover;
    background-position: center;
}

.labbug-div {
    background-image: url(../media/jogos/LB/concept/1.png);
    background-size: cover;
    background-position: center;
}

.expo2900-div {
    background-image: url(../media/jogos/EXPO2900/concept/1.png);
    background-size: cover;
    background-position: center;
}

.serie-section {
    height: 40vh;
}

.lixaodobairro-div {
    background-image: url(../media/series/LB/concept/1.png);
    background-size: cover;
    background-position: center;
}

.herancademisterios-div {
    background-image: url(../media/series/HM/concept/1.png);
    background-size: cover;
    background-position: center;
}

/* Adicionando transição explícita para o Parallax */
#parallax-img {
    max-width: 950px;
    max-height: 300px;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out; 
    zoom: 120%;
    align-self: center;
    justify-content: center;
    align-content: center;
    min-height: 100px;
    min-width: 100px;
    width: 100%;
    margin:auto;
    background-color: #d3b471;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgb(78, 48, 2);
    
    background-size: contain !important; /* 'contain' garante que a imagem inteira seja visível */
    background-repeat: no-repeat !important; 
    background-position: center bottom !important; /* Centraliza melhor a imagem */

}

.animate-on-scroll {
    opacity: 0; 
    transform: translateY(80px) rotate(3deg) scale(0.9); 
    transition: opacity 0.3s ease-out, transform 0.8s ease-out;
    text-align: center;
    align-content: center;
}

.animate-on-scroll.is-visible {
    opacity: 1;
    transform: translateY(0) rotate(0deg) scale(1);
    text-align: center;
    padding: center;
}


menu#menu-section {
    background-image: url(../media/backgroundimages/BG_escuro.png);
    height: 10vh;
    display: none;
    flex-flow: row nowrap;
    align-items: end;
    align-content: space-between;
    justify-content: space-between;
}

menu#menu-section > ul {
    list-style: none;
    padding: 10px;
    margin: 5px 5px;
}

section#intro {
    height: 70vh;
    display: flex;
    flex-flow: column-reverse nowrap;
    align-content: center;
    justify-content: center;
    align-self: center;
    flex-grow: 0;
    flex-shrink: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../media/jogos/KR/concept/1.png);
}

.main-content {
    padding-bottom: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 1;
    padding-right: 5vw;
    padding-left: 5vw;
}

.main-separacao {
    
    align-self: center;
    height: 20px;
    background-image: url(../media/backgroundimages/BG_madeira.png);
    box-shadow: 0px 5px 10px black;
    background-size: 200%;
    border-radius: 10px 10px 0px 0px ;
    background-repeat: no-repeat;
}

.main-descricao {
    
    flex-grow: 1;
    flex-shrink: 0;
    color: rgb(247, 229, 193);
    text-shadow: 1px 1px 4px black;
    font-size: smaller;
    /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.705); */
    border-radius: 0px 0px 10px 10px;
    height: 200px;
    align-self: center;
    background-color: #eed08ec4;
}

.main-descricao h1 {
    padding: 10px;
    font-size: 2.5em;
}

.main-descricao p {
    font-size: 1.8em;
}

.text-block-main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-self: center;
    font-size: smaller;
    width: 70vw;
    height: 200px;
    
    
}

/*Lista do cabeçalho - menu*/
.menu-list {
    display: flex;
    list-style: none;
    align-content: space-between;
    
}


ul#menu-list > li {
    padding: 50px;
    
}

.main-image-logo {
      
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../media/jogos/KR/LOGO.png);
}

a.main-image-link {
    padding: 15px;
    align-self: center;
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    align-content: center;
    justify-content: center;
}

.main-image-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

/* SECAO DE SEPARAR AS SECTIONS DE GAMES E SERIES*/
.separar-section {
    color: aliceblue;
    display: flex;
    text-align: center;
    text-justify: center;
    justify-content: center;
    align-content: center;
    font-family: 'Arial Narrow Bold', sans-serif;
    height: 50px;
    border-top: solid 3px #e9dcce;
    border-bottom: solid 3px #e9dcce;
    background-image: url(../media/backgroundimages/BG_madeira.png);
    background-size: 150%;
    box-shadow: 0px 3px 10px black;
}

.separar-section h1 {
    align-self: center;
    font-size: 1.8em;
    background-color: #a17546;
    text-shadow: 1px 2px 0px rgba(39, 22, 2, 0.753);
    border: solid 2px #e9dcce;
    width: 55vw;
    border-radius: 10px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.555);
}

.social-icon-link {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 2px 2px 5px rgba(59, 39, 2, 0.411);
    transition: translate 1s, box-shadow 0.5s;
}

.social-icon-img:hover {
    border-radius: 50%;
    translate: 0px -5px;
    box-shadow: 2px 2px 10px rgba(37, 25, 1, 0.808);
}

.social-icon-img {
    height: 100%;
    width: 100%;
}

a.button-portfolio {
    color: rgb(216, 187, 151);
    text-decoration: none;
    background-color: #7c654c;
    padding: 10px;
    border-radius: 5px;
    border: solid 3px rgb(51, 37, 2);
    box-shadow: 2px 2px 7px rgba(31, 15, 1, 0.753);

}

a.button-portfolio:hover {
    translate: 0px -3px;
    transform: scale(1.05);
    border: solid 3px aliceblue;
    box-shadow: 2px 2px 7px rgba(31, 15, 1, 0.911);
    color: aliceblue;
    background-color: #a17546;

}

.imagem-portfolio {
    height: 100px;
    width: 100px;
    aspect-ratio: 1;
    margin: 10px;
    background-image: url(../media/portfolio/Foto_Perfil_Insta.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    border-radius: 50%;
    border: solid 5px #3a2c1d;
}

.social-icon-div {
    width: 25vw;
    margin: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    justify-items: center;
    
}

.social-icon-div > a {
    width: 50px;
    height: 50px;
    
    background-color: #beab95;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(59, 39, 2, 0.411);
}

.youtube-img {    
    width: 100%;
    height: 100%;
    background-size: 70%;
    background-position: center;
    
    
    background-image: url(../media/linklogos/Youtube_Logo.png);
    background-repeat: no-repeat;
}

.instagram-img {    
    width: 100%;
    height: 100%;
    background-size: 70%;
    background-position: center;
    
    background-image: url(../media/linklogos/Instagram_Logo.png);
    background-repeat: no-repeat;
}

.artstation-img {    
    width: 100%;
    height: 100%;
    background-size: 70%;
    background-position: center;
    
    background-image: url(../media/linklogos/Artstation_Logo.png);
    background-repeat: no-repeat;
}

.caraapp-img {    
    width: 100%;
    height: 100%;
    background-size: 70%;
    background-position: center;
    
    background-image: url(../media/linklogos/Cara_Logo_2.png);
    background-repeat: no-repeat;
}

.logo-img {    
    position: fixed;
    top: 0;
    width: 50px;
    height: 50px;
    background-size: 100%;
    background-image: url(../media/favicon/android-chrome-512x512.png);
    background-repeat: no-repeat;
}

.logo-img-link {    
    height: 10px;
    width: 10px;
    
}

section#final {
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    height: 70vh;
    background-image: url(../media/backgroundimages/BG_escuro.png);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.footer {
            text-align: center;
            padding: 20px;
            background-color: #3a2c1d;
            color: #f1e6d6;
            font-size: 0.9rem;
        }


@media  (max-width: 1080px) {
    .menu-list {
        
        display: none;
        
    }

    .social-icon-div {
        width: 70vw;
    }
    
    
}