@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../media/backgroundimages/BG_claro.png);
}

main {
    text-align: center;
}

section {
    height: 70vh;
}

section#intro {
    background-image: url(../media/backgroundimages/BG_medio.png);
}

#menu-list {
    display: flex;
    list-style: none;
}

.separar-section {
    text-align: center;
    height: 50px;
    background-color: #3a2c1d;
}

.social-icon-link {
    width: 100px;
    height: 100px;
}

.youtube-img {    
    width: 100px;
    height: 100px;
    background-size: 50%;
    background-image: url(../media/linklogos/Youtube_Logo.png);
    background-repeat: no-repeat;
}

.youtube-img {    
    width: 100px;
    height: 100px;
    background-size: 50%;
    background-image: url(../media/linklogos/Youtube_Logo.png);
    background-repeat: no-repeat;
}

section#final {
    background-image: url(../media/backgroundimages/BG_escuro.png);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.footer {
            text-align: center;
            padding: 20px;
            background-color: #3a2c1d;
            color: #f1e6d6;
            font-size: 0.9rem;
        }