@charset "UTF-8";

@font-face {
    /* 1. Nome que você usará para chamar a fonte no CSS */
    font-family: 'Grandstander'; 
    
    /* 2. Caminho para o arquivo da fonte */
    src: url('../fonts/Grandstander/Grandstander-VariableFont_wght.ttf') format('ttf');
         
    
    /* 3. (Opcional) Define a espessura da fonte (se for um arquivo específico) */
    font-weight: normal; 
    
    /* 4. (Opcional) Define o estilo da fonte (normal ou italic) */
    font-style: normal;
}

:root {
    --cor-botao: rgb(138, 95, 67);
    --cor-botao-hov: rgb(180, 128, 93);
    --cor-botao-sombra: rgb(78, 54, 21);
    --cor-text-botao: rgb(214, 180, 145);
    --cor-text: rgba(202, 165, 135, 0.411);
}

* {
    
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    z-index: 5;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: center;
    justify-items: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 10vh;
    background-image: url(../media/backgroundimages/BG_madeira.png);
    background-size: cover;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.377);
}

header > h1 {
    color: var(--cor-text-botao);
    font-family: Grandstander, Verdana, Geneva, Tahoma, sans-serif;
}

header > a {
    font-family: 'Grandstander', 'Arial', 'Verdana';
    font-weight: 100;
    text-align: center;
    justify-items: center;
    width: 20vw;
    height: 12px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 2px 6px 0px var(--cor-botao-sombra);
    border: solid 3px var(--cor-text-botao);
    text-decoration: none;
    color: var(--cor-text-botao);
    background-color: var(--cor-botao);

    transition: all 0.5s;
}

header > a:hover {
    background-color: var(--cor-botao-hov);
    transform: scale(1.1);
    border: solid 3px aliceblue;
    color: aliceblue;
    box-shadow: 4px 10px 0px var(--cor-botao-sombra);
}



body {
    height: 100vh;
    width: 100vw;
    background-image: url(../media/backgroundimages/BG_medio.png);
    background-size: 40%;
    overflow-x: hidden; /*Escondendo o que passa da tela no eixo X*/
    
    
}

section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 95vw;
    
    
}

.h1-section {
    padding: 10px 10px 25px 10px;
    font-family: 'Grandstander', 'Arial', 'Verdana';
    font-size: small;
    text-align: center;
}

p {
    margin: 10px;
    color: aliceblue;
    text-justify: center;
    text-align: center;
    padding: 10px;
    align-self: center;
    justify-self: center;
    height: 20%;
    width: 60vw;
    font-family: 'Grandstander Bold', 'Arial', 'Verdana';
    font-size: 1.2em;
    background-color: var(--cor-text);
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(22, 15, 1, 0.705);
}



.logo-div {
    display: flex;
    justify-content: center;
    align-content: center;
    
    background-image: url(../media/favicon/android-chrome-512x512.png);
    background-size: cover;
    height: 100px;
    width: 100px;

    transition: all .5s;
}

.logo-div:hover {
    transform: scale(1.1);
}

.logo-div a {
    height: 100px;
    width: 100px;
}

.botao-retorne {
    font-family: 'Grandstander Bold', 'Arial', 'Verdana';
    text-align: center;
    justify-items: center;
    width: 20vw;
    height: 12px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 2px 6px 0px var(--cor-botao-sombra);
    border: solid 3px var(--cor-text-botao);
    text-decoration: none;
    color: var(--cor-text-botao);
    background-color: var(--cor-botao);

    transition: all 0.5s;
}

.botao-retorne:hover {
    background-color: var(--cor-botao-hov);
}

.botao-retorne:hover {
    transform: scale(1.1);
    border: solid 3px aliceblue;
    color: aliceblue;
    box-shadow: 4px 10px 0px var(--cor-botao-sombra);
}
section.section-apresentation {
    padding-top: 15vh;
    padding-bottom: 10px;
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    background-size: cover;
    background-position: center;
}

.section-apresentation h1 {
    margin: 10px;
    font-family: 'Grandstander', 'Grandstander ExtraBold', 'Arial', 'Verdana';
    color: rgb(252, 242, 232);
    background-color: rgb(161, 118, 69);
    padding: 10px;
    border-radius: 10px;
    text-shadow: 2px 2px 2px var(--cor-botao-sombra);
    box-shadow: 4px 3px 0px rgba(129, 53, 3, 0.767);
    
}

.section-apresentation p {
    font-family: 'Grandstander', 'Grandstander ExtraBold', 'Arial', 'Verdana';
    
    
    color: rgb(107, 47, 7);
}




#modeling-article {
    font-family: 'Grandstander ExtraBold', 'Arial', 'Verdana';
    background-color: rgb(230, 217, 184);
    width: 80vw;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(34, 11, 0, 0.596);

    
    
    
}

#concept-article {
    font-family: 'Grandstander ExtraBold', 'Arial', 'Verdana';
    background-color: aliceblue;
    padding: 10px;
}

#skill-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    
    
}

#skill-container .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#skill-container .skillname {
    font-weight: bold;
    color: rgb(65, 36, 3);
}

.skillpercent {
    font-weight: bold;
    color: rgb(92, 51, 5);
}

#skill-container .barra {
    width: 100%;
    height: 8px;
    background-color: antiquewhite;
    border-radius: 5px;
}

#skill-container .progresso {
    height: 100%;
    width: 80%;
    background-color: rgb(245, 149, 23);
    border-radius: 5px;
}

.logo-img-intro img {
    height: 300px;
    width: 100%;
    
}

.portfolio-img {
    height: 30%;
    width: 30%;
    background-image: url(../media/portfolio/Foto_Perfil_Insta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: solid 4px rgb(161, 118, 69);
    border-radius: 25px;
    box-shadow: 4px 4px 0px rgb(158, 90, 0);
}



.section-separacao {
    font-family: 'Grandstander ExtraBold', 'Arial', 'Verdana';
    color: aliceblue;
    text-shadow: 1px 2px 0px rgb(51, 20, 2);
    display: flex;
    flex-flow: row-reverse nowrap;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    text-justify: center;
    height: 5vh;
    width: 100vw;
    background-size: cover;
    background-image: url(../media/backgroundimages/BG_madeira.png);
    background-position: bottom;
    box-shadow: 0px 5px 10px rgba(36, 18, 2, 0.527);
}

.text-block-intro {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

.img-div {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 80%;
    width: 100vw;
}

.img-div > img {
    height: 200px;
    width: 90vw;
    background-size: auto;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.486);
}

.footer {
            text-align: center;
            padding: 20px;
            background-color: #3a2c1d;
            color: #f1e6d6;
            font-size: 0.9rem;
        }
